<h1>Post your article here!</h1>

<form method="POST" action="/articles">
    <lable>Title:</lable>
    <input type='text' id="title" name='title'/>
    <lable>Content:</lable>
    <input type='text' id="content" name='content'/>
    <input type='submit' value="submit" />
</form>
